@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Volumes\/Macintosh\%20HD\/Users\/liuzenan\/Dropbox\/Project\/patternlib\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000031;
  }
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Volumes\/Macintosh\%20HD\/Users\/liuzenan\/Dropbox\/Project\/patternlib\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000037;
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Volumes\/Macintosh\%20HD\/Users\/liuzenan\/Dropbox\/Project\/patternlib\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000316;
  }
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Volumes\/Macintosh\%20HD\/Users\/liuzenan\/Dropbox\/Project\/patternlib\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000323;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}